body {
    font: 200% sans-serif;
}
table {
    background: darkgray;

    /*color: white; // Цвет текста*/
   }

/*td {
    background: navy; // Цвет фона ячеек
}
*/
.even {
    background: darkgray;
}

.odd {
    background: white;
}