body {
    font: 200% sans-serif;
}
th {
    background: #ffa500;

    /*color: white; // Цвет текста*/
   }

/*td {
    background: navy; // Цвет фона ячеек
}
*/
.even {
    background: darkgray;
}

.odd {
    background: white;
}

.birthday {
    background: red;
}